html {
  background: #EEECF2;
}

#app {
  display: flex;
  align-items: center;
  font-size: 1em;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  margin: 0;
  padding: 50px 15px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 74px;
  font-weight: 100;
  font-family: 'Krub', sans-serif;
  color: #420D33;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 15px;
  font-family: 'Krub', sans-serif;
}

.personal-links {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: center;
}

nav a {
  padding: 5px;
}

.fab {
  color: #420D33;
}

.fab:hover {
  color: #8f1e6f;
}

#search-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

input {
  margin: 5px 0;
}

main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 180px;
}

input[type="text"] {
  margin: 0 auto;
  background: none;
  border: none;
  border-bottom: 2px solid #420D33;
  width: 150px;
  padding: 5px;
  font-family: 'Mate', serif;
  font-size: 20px;
  text-align: center;
  color: #420D33;
}

input[type="submit"] {
  background: #420D33;
  color: #EEECF2;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Krub', sans-serif;
}

input[type="submit"]:hover {
  background: #8f1e6f;
  cursor: pointer;
}

#reset {
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  border: none;
  background: none;
  padding: 5px;
  border-bottom: 1px solid black;
  width: 60px;
  cursor: pointer;
}

#reset:hover {
  color: #8f1e6f;
  border-bottom: 1px solid #8f1e6f;
}

#user-guide {
  font-family: 'Mate', serif;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  top: 25%;
  color: #b9b8bc;
  text-shadow: 2px 2px 6px #f6f5f5;
}

#user-guide span {
  display: flex;
  justify-content: center;
}

#user-guide h3 {
  font-family: 'Krub', sans-serif;
  font-size: 1.6em;
  font-weight: 100;
  align-self: center;
  margin-left: 5px;
  color: #430e335e;
}

#user-guide h4 {
  font-size: 1.5em;
  margin-right: 5px;
}

#user-guide ul {
  list-style: none;
}

circle {
  fill: #420D33;
  cursor: pointer;
}

path {
  fill: none;
  stroke: #ceadc5;
  opacity: .2;
}

text {
  fill: #420D33;
  font-family: 'Mate', serif;
}

text:hover {
  fill: #8f1e6f;
  cursor: pointer;
}

*:focus {
  outline: none;
}

#mobile-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #EEECF2;
  padding: 30px;
  border-radius: 20px;
  font-family: 'Mate', serif;
}

.modal-child > p {
  text-align: center;
  color: #8f1e6f;
}

.modal-child a {
  padding: 0 5px;
}