html {
  background: #EEECF2;
}

#app {
  display: flex;
  align-items: center;
  font-size: 1em;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 180px;
  height: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  margin: 0;
  padding: 50px 15px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 74px;
  font-weight: 100;
  font-family: 'Krub', sans-serif;
  color: #420D33;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 15px;
  font-family: 'Krub', sans-serif;
}

.personal-links {
  margin: 10px 0 20px 0;
  display: flex;
}

nav a {
  padding: 5px;
}

.fab {
  color: #420D33;
}

#search-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

input {
  margin: 5px 0;
}

main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 180px;
}

input[type="text"] {
  margin: 0 auto;
  background: none;
  border: none;
  border-bottom: 2px solid #420D33;
  width: 150px;
  padding: 5px;
  font-family: 'Mate', serif;
  font-size: 1.2em;
  text-align: center;
  color: #420D33;
}

input[type="submit"] {
  background: #420D33;
  color: #EEECF2;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Krub', sans-serif;
}

input[type="submit"]:hover {
  background: #8f1e6f;
}

circle {
  fill: #420D33;
  cursor: pointer;
}

path {
  fill: none;
  stroke: #ceadc5;
  opacity: .2;
}

text {
  font-size: 1.1em;
  fill: #420D33;
  font-family: 'Mate', serif;
}

*:focus {
  outline: none;
}